.Input {
  width: 100%;
  height: fit-content;
  .input-box {
    width: 100%;
    min-height: 50px;
    input,
    textarea {
      flex: 1;
      outline: none;
      background-color: transparent;
    }
    input {
      height: 50px;
    }
    textarea {
      min-height: 100px;
    }
  }
  .message {
    min-height: 15px;
    font-size: 0.6rem;
  }
}
