# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/Loading/index.js
src/components/Loading/index.scss
src/components/SearchBox/index.js
src/components/SearchBox/index.scss
src/components/Table/index.js
src/components/Table/index.scss
src/scss/_btn.scss
src/scss/_custom.scss
src/scss/_font.scss
src/scss/_utilities.scss
src/scss/_variables.scss
src/scss/index.scss
src/reportWebVitals.js
src/assets/fonts/Estedad-Black.ttf
src/assets/fonts/Estedad-Bold.ttf
src/assets/fonts/Estedad-ExtraBold.ttf
src/assets/fonts/Estedad-ExtraLight.ttf
src/assets/fonts/Estedad-Light.ttf
src/assets/fonts/Estedad-Medium.ttf
src/assets/fonts/Estedad-Regular.ttf
src/assets/fonts/Estedad-SemiBold.ttf
src/assets/fonts/Estedad-Thin.ttf
src/assets/fonts/FD/Estedad-FD-Black.ttf
src/assets/fonts/FD/Estedad-FD-Bold.ttf
src/assets/fonts/FD/Estedad-FD-ExtraBold.ttf
src/assets/fonts/FD/Estedad-FD-ExtraLight.ttf
src/assets/fonts/FD/Estedad-FD-Light.ttf
src/assets/fonts/FD/Estedad-FD-Medium.ttf
src/assets/fonts/FD/Estedad-FD-Regular.ttf
src/assets/fonts/FD/Estedad-FD-SemiBold.ttf
src/assets/fonts/FD/Estedad-FD-Thin.ttf
src/components/Badge/index.js
src/components/Badge/index.scss
src/components/Button/index.js
src/components/Button/index.scss
src/components/Form/index.js
src/components/Input/index.js
src/components/Input/index.scss
src/reportWebVitals.js
src/assets/fonts/Estedad-Black.ttf
src/assets/fonts/Estedad-Bold.ttf
src/assets/fonts/Estedad-ExtraBold.ttf
src/assets/fonts/Estedad-ExtraLight.ttf
src/assets/fonts/Estedad-Light.ttf
src/assets/fonts/Estedad-Medium.ttf
src/assets/fonts/Estedad-Regular.ttf
src/assets/fonts/Estedad-SemiBold.ttf
src/assets/fonts/Estedad-Thin.ttf
src/assets/fonts/FD/Estedad-FD-Black.ttf
src/assets/fonts/FD/Estedad-FD-Bold.ttf
src/assets/fonts/FD/Estedad-FD-ExtraBold.ttf
src/assets/fonts/FD/Estedad-FD-ExtraLight.ttf
src/assets/fonts/FD/Estedad-FD-Light.ttf
src/assets/fonts/FD/Estedad-FD-Medium.ttf
src/assets/fonts/FD/Estedad-FD-Regular.ttf
src/assets/fonts/FD/Estedad-FD-SemiBold.ttf
src/assets/fonts/FD/Estedad-FD-Thin.ttf
src/components/Badge/index.js
src/components/Badge/index.scss
src/components/Button/index.js
src/components/Button/index.scss
src/components/Form/index.js
src/components/Input/index.js
src/components/Input/index.scss
src/components/Loading/index.js
src/components/Loading/index.scss
src/components/SearchBox/index.js
src/components/SearchBox/index.scss
src/components/Table/index.js
src/components/Table/index.scss
src/scss/_btn.scss
src/scss/_custom.scss
src/scss/_font.scss
src/scss/_utilities.scss
src/scss/_variables.scss
src/scss/index.scss
