#root {
  max-width: 1800px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  font-family: "estedad-fa";
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  background-color: #f4f7fc;
  color: $dark;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}
button {
  cursor: pointer;
  &:disabled {
    pointer-events: all !important;
    cursor: not-allowed;
  }
}
p {
  color: $secondary;
  overflow-wrap: break-word;
  margin-bottom: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
button,
textarea,
input {
  &:focus {
    outline: none;
  }
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-toggle::after {
  display: none !important;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.row {
  margin-left: auto;
  margin-right: auto;
  @extend .flex-center;
}
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}
.object-fit-contain,
.object-fit-cover {
  object-position: center;
}
.bi,
.bi::before,
.bi::after {
  vertical-align: middle;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.lh-normal {
  line-height: 100%;
}
hr {
  background-color: $dark;
  margin: 0 auto;
  opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  line-height: normal;
}
.input-group {
  flex-direction: row-reverse;
}
.btn-group {
  flex-direction: row-reverse;
}
